.error{width: 90%;height: 80%;
    background-color: var(--image-background);
flex-direction: column;}
.error img{width: 75%;height: 70%;}
.error h2{
    margin-top: 0;text-align: center;
    font-size: x-large;font-family: fantasy;font-weight: 300;
    color: red;
}