.area_send{   
    width: 100%;height: 15%;
    background-color: var(--background); justify-content: end;
} 
.area_send button{
   
    width: 90px;height: 35px;
    border-radius: 16px;margin: 5px; 
    cursor: pointer;
    font-family: Times,;font-weight: 100; 
}
.area_send button:nth-child(1){background-color: rgb(236, 233, 230);}
.area_send button:nth-child(2){
    width: 120px;
    border: 2px solid var(--color_up);color: white;} 