.d1{
    width: 32vw;height:70vh;
    background-color: var(--background); 
    display: flex; flex-direction: column;  
}
form{width: 100%;height:100%;}

/* Area reserved for upload input */
.area1{  
    width: 100%;height: 30%;
    flex-direction: column; 
}
.area1 h1{
    color: white;font-size: 28px;font-family: Times, Times New Roman, serif;font-weight: 100;
    /* text-align: center;margin-top: 10px; */
}
.area1 input[type="file"]{
    display:none;
}

.area1 label{ 
   width: 180px; height: 40px; 
    border-radius: 25px;
    background-image: url('icons/upload.png');
    background-repeat: no-repeat;background-position: center; 
    cursor: pointer;  
    color: white;
    background-color: var(--color_up);
}
.area1 label:has(input:disabled){
    cursor: not-allowed;
    opacity: 0.6;
    transition: 0.44s ease-in;}
/* Area reserved for release uploaded*/

.area2{
     /* padding-top: 5px;padding-bottom: 5px; */
      overflow-y: scroll;
      position: relative; 
      /* z-index: 0; */
    width: 100%;height: 70%; 
    background-color: var(--backgroundArea2); 
    /* margin: 0px;  */
}
.area2:has(.peace){
    height: 55%;
    flex-direction: column;
}
.area2 .area21{border:1px solid red;margin: auto;
    width: 95%;min-height: 100%;
}
.area2::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
} 
.area2{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}